@(currentPage: Page[Foodorder], currentSortBy: String, currentOrder: String, currentFilter: String)

@import helper._
@import helper.twitterBootstrap._
@import controllers.admin._
@import views.html.admin._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Foodorders.list(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@admin_main(Html("Foodorder"), nav = "admin",adminnav = "foodorder", showBar = true) {
    
    <!-- <h1 id="homeTitle">@Messages("foodorders.list.title", currentPage.getTotalRowCount)</h1> -->

    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            <button class="close" data-dismiss="alert" type="button">×</button>
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 

    <div id="form-actions">
        
        <form class="form-inline" action="@link(0, "user_name")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by foodorder name...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn btn-primary">
        
        <a class="btn btn-success pull-right" id="add" href="@routes.Foodorders.create()">Add a new foodorder</a>
        </form>
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="foodorders table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    @header("id", "ID")
                    @header("user.userName", "User name")
                    @header("menu.name", "Menu name")
                    @header("food.name", "Food name")
                    @header("quantity", "quantity")
                    @header("discount", "Discount")
                    @header("price", "Price")
                    <th class="header">
                         <a href="#">Total</a>
                    </th>
                </tr>
            </thead>
            <tbody>

                @for(foodorder <- currentPage.getList) {
                    <tr>
                        <td><a
                                href="@routes.Foodorders.edit(foodorder.id)">@foodorder.id</a></td>
                        <td><a
                                href="@routes.Users.edit(foodorder.user.id)">@foodorder.user.userName</a></td>
                        <td>
                            @if(foodorder.menu != null){
                            <a
                                href="@routes.Menus.edit(foodorder.menu.id)">@foodorder.menu.name</a>
                              }else{
                              <em>-</em>
                              }
                        </td>
                          <td>
                            @if(foodorder.food.name == null) {
                                <em>-</em>
                            } else {
                                @foodorder.food.name
                            }
                        </td>
                        <td>
                            @foodorder.quantity
                        </td>
                        <td>
                            @foodorder.discount
                        </td>
                        <td>
                            @foodorder.price
                        </td>
                        <td>
                            @{foodorder.quantity * foodorder.price - foodorder.discount}
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination pagination-right">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
        
}

            
