@import helper._
@import helper.twitterBootstrap._


@main(Html("Admin"), nav = "admin", showBar = true) {
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">User Management</li>
						<li class="active"><a href="">list</a></li>
						<li class="nav-header">Restaurant Management</li>
						<li><a href=""></a></li>
					</ul>
				
				</div>
			</div>
			<div class="span9">
				<div class="content">
					<h3>hello</h3>
					<p>sdfdfsdf</p>
				</div>
			</div>
		</div>
	</div>
}
