@(id: Long, userForm: Form[User])

@import helper._
@import controllers.admin._
@import views.html.admin._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@admin_main(Html("User"), nav = "admin", adminnav = "user", showBar = true) {
			 @if(userForm.hasGlobalErrors) { 
                <p class="alert alert-error">
                   <button class="close" data-dismiss="alert" type="button">×</button>
                    @userForm.globalError.message
                </p>
            }
    @form(routes.Users.delete(id), 'class -> "pull-right") {
        <input type="submit" value="Delete this user" class="btn btn-danger">
    }
    @form(routes.Users.update(id), 'class -> "form-horizontal") {
        <legend>Edit user</legend>
        <fieldset>
           @select(
                userForm("role.id"), 
                options(Role.options), 
                '_label -> "Role", '_default -> "-- Choose a Role --",
                '_showConstraints -> false
            )
           @select(
                userForm("usergroup.id"), 
                options(Usergroup.options), 
                '_label -> "Usergroup", '_default -> "-- Choose a Usergroup --"
            )
            @inputText(userForm("userName"), '_label -> "User name")
            @inputText(userForm("fullName"), '_label -> "Full Name")
            @inputText(userForm("email"), '_label -> "Email")
            @inputText(userForm("phoneNumber"), '_label -> "PhoneNumber")
            @inputPassword(userForm("password"), '_label -> "Password")
            @checkbox(userForm("accountLocked"), '_label -> "账户锁定")
        </fieldset>
        
        <div class="form-actions">
            <input type="submit" value="Save this user" class="btn btn-primary"> or 
            <a href="@routes.Users.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    
}
