             <div class="content">
                          <div class="page-header">
                    <h2>All Foods</h2>
                </div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#">aaa</a></li>
                        <li class=""><a href="#">bbb</a></li>
                        <li class=""><a href="#">ccc</a></li>
                    </ul>
                    <ul>
                    	<li class="span2">
                    	  <div class="thumbnail">
                    	  		<h4>food.name <small>food.type</small></h4>
                                <a class="btn btn-success" href="routes.FoodorderAction.create(menu.id)">Add</a>
                    	  </div>
                    	</li>
                    		<li class="span2">
                    	  <div class="thumbnail">
                    	  		<h4>food.name <small>food.type</small></h4>
                                <a class="btn btn-success" href="routes.FoodorderAction.create(menu.id)">Add</a>
                    	  </div>
                    	</li>	<li class="span2">
                    	  <div class="thumbnail">
                    	  		<h4>food.name <small>food.type</small></h4>
                                <a class="btn btn-success" href="routes.FoodorderAction.create(menu.id)">Add</a>
                    	  </div>
                    	</li>
                    </ul>
             </div>