@(currentPage: Page[Foodorder], currentSortBy: String, currentOrder: String, currentFilter: String, cuser: User)

@import helper._
@import helper.twitterBootstrap._
@import controllers._
@import views.html.projects._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.MyFoodorder.list(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@head(Html("My Record"),nav="myorder") {
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span9">
			<div class="content">
				<div class="page-header">
					<h2>My Orders</h2>
				</div>
				   <!-- <h1 id="homeTitle">@Messages("foodorders.list.title", currentPage.getTotalRowCount)</h1> -->

    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            <button class="close" data-dismiss="alert" type="button">×</button>
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 
    <div id="stat">
        <h4>Total Cost <b class="text-error">&yen; @Foodorder.countCost(cuser.id)</b></h4>
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="foodorders table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    @header("id", "ID")
                    @header("menu.name", "Menu name")
                    @header("food.name", "Food name")
                    <!--
                    @header("quantity", "quantity")
                    @header("discount", "Discount")
                    @header("price", "Price")
                    -->
                    <th class="header">
                         <a href="#">Total</a>
                    </th>
                    @header("deal", "Deal")
                    @header("orderAt", "Order At")
                </tr>
            </thead>
            <tbody>

                @for(foodorder <- currentPage.getList) {
                    <tr>
                        <td>@foodorder.id
                        <td>
                            @if(foodorder.menu != null){
                            @foodorder.menu.name
                              }else{
                              <em>-</em>
                              }
                        </td>
                          <td>
                            @if(foodorder.food.name == null) {
                                <em>-</em>
                            } else {
                                @foodorder.food.name
                            }
                        </td>
                        <!--
                        <td>
                            @foodorder.quantity
                        </td>
                        <td>
                            @foodorder.discount
                        </td>
                        <td>
                            @foodorder.price
                        </td>
                        -->
                        <td>
                            @foodorder.quantity X @foodorder.price
                            @if(foodorder.discount > 0) { - @foodorder.discount} 
                            @if(foodorder.discount < 0) @{ "+" + " " + Math.abs(foodorder.discount)}
                            = <strong>$@{foodorder.quantity * foodorder.price -
                                foodorder.discount}</strong>
                        </td>
                        <td>
                        	@foodorder.deal
                        </td>
                        <td>
                            @foodorder.orderAt.format("yyyy-MM-dd HH:mm:ss")
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination pagination-right">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
			</div>
		</div>
        <div class="span3">
            @sider(cuser)
        </div>
	</div>
</div>
}    
 
        

            
