@(currentPage: com.avaje.ebean.Page[Payment], currentSortBy: String, currentOrder: String,
currentFilter: String, cuser:User)

@import helper._
@import helper.twitterBootstrap._
@import controllers._
@import views.html._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.MyPayment.list(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@head(Html("My Payment"),nav="mypayment") {
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span9">
			<div class="content">
				<div class="page-header">
					<h2>My Payment</h2>
				</div>

    <!-- <h1 id="homeTitle">@Messages("payments.list.title", currentPage.getTotalRowCount)</h1> -->

    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            <button class="close" data-dismiss="alert" type="button">×</button>
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 

    <div id="stat">
        <h4>Total Pay: <b class="text-success">&yen; @Payment.countPaied(cuser.id)</b></h4>
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="payments table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    @header("id", "Id")
                    @header("amount", "Amount")
                    @header("createdAt","createdAt")
                    @header("description","description")

                </tr>
            </thead>
            <tbody>

                @for(payment <- currentPage.getList) {
                    <tr>
                        <td>
                           @payment.id</td>
                        <td>
                            @payment.amount
                        </td>
                        <td>
                            @if(payment.createdAt != null) {
                                @payment.createdAt.format("yyyy-MM-dd HH:mm:ss")
                                } else {
                                <em>-<em>
                                        }

                        </td>
                          <td>
                            @if(payment.description == null) {
                                <em>-</em>
                            } else {
                                @payment.description
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination pagination-right">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
			</div>
		</div>
        <div class="span3">
            @sider(cuser)
        </div>
	</div>
</div>
}    
            
